<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ page.title }}</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/assets/css/pure-min.css">
        <link rel="stylesheet" href="/assets/css/main.css">

        <!-- Google Analytics -->

    </head>
    
    <body>
        <div class="pure-g-r" id="layout">
            <div class="sidebar pure-u">
                <header class="header">
                    <hgroup>
                        <h1 class="brand-title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
                        <h2 class="brand-tagline">Engineer, Hacker, Comedian</h2>
                    </hgroup>

                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/resume">Resume</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="http://github.com/jasonrdsouza">Github</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="http://linkedin.com/in/jasonrdsouza">LinkedIn</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="http://plus.google.com/104803793152242965343">Google+</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="http://twitter.com/jasonrdsouza">Twitter</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="http://google.com/search?q=jasonrdsouza">Around the Web</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>

            <div class="pure-u-1">
                <div class="content">
                    
                    {{ content }}

                    <footer class="footer">
                        <div class="pure-menu pure-menu-horizontal pure-menu-open">
                            <ul>
                                <li class="mail"><a href="mailto:jasonrdsouza@gmail.com">Email</a></li>
                                <li class="tel"><a href="tel:(619)537-6892">Phone</a></li>
                                <li class="web"><a href="http://jasondsouza.org">Web</a></li>
                                <li class="ad"><a href="#">&copy; Jason Dsouza</a></li>
                            </ul>
                        </div>
                    </footer>

                </div>
            </div>
        </div>

    </body>
</html>